<pre id='chat'></pre>
 
<script>
  // reading
  var es = new EventSource('/stream');
  es.onmessage = function(e) { $('#chat').append(e.data + "\n") };
 
  // writing
  $("form").live("submit", function(e) {
    $.post('/', {msg: "<%= user %>: " + $('#msg').val()});
    $('#msg').val(''); 
    $('#msg').focus();
    e.preventDefault();
  });
</script>
 
<form>
  <input id='msg' placeholder='type message here...' autofocus/>
</form>
