body {
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.global-container {
    margin-top: 20px;
}

.login-container {
    width: 600px;
    height: auto;
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 200px;
    margin-left: auto;
    margin-right auto;
}

.chat-container {
    height: 300px;
    overflow-y: scroll;
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 100px;
}

#chat-room {
    margin-left: 5%;
}

.submit-container {
    margin-top: 10px;
}

.users-container {
    height: 300px;
    overflow-y: scroll;
    background: #FFF;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 100px;
}

.users-container ul {
    list-style: none;
}
